.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  font-family: 'Proxima Nova Regular', sans-serif;
  color: #282a27;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 96px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -1.5px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.5px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

p {
  margin-bottom: 12px;
}

a {
  color: #dc3768;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin-bottom: 12px;
  padding-left: 40px;
}

ol {
  margin-bottom: 12px;
  padding-left: 40px;
}

li {
  margin-bottom: 6px;
}

form {
  margin-bottom: 48px;
}

label {
  display: block;
  margin-bottom: 8px;
}

blockquote {
  margin-bottom: 12px;
  padding: 24px;
  border-left: 5px solid #e2627e;
  background-color: #f7d4d3;
  font-size: 20px;
  font-style: italic;
}

.container {
  max-width: 1320px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section.hero {
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 90px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fffbf8), to(#ffeae5));
  background-image: linear-gradient(180deg, #fffbf8, #ffeae5);
}

.section.powered-by {
  overflow: hidden;
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: radial-gradient(circle farthest-side at 50% 50%, #ffede8, #ffebc4);
}

.section.blinded-oracle {
  overflow: hidden;
  padding-top: 320px;
  padding-bottom: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fffbf8), to(#ffeae5));
  background-image: linear-gradient(180deg, #fffbf8, #ffeae5);
}

.section.non-custodial {
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: radial-gradient(circle farthest-side at 50% 50%, #ffede8, #ffebc4);
}

.section.how-it-works {
  position: relative;
  overflow: hidden;
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#63159b), to(#f49da4));
  background-image: linear-gradient(180deg, #63159b, #f49da4);
}

.section.faq {
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fffbf8), to(#ffeae5));
  background-image: linear-gradient(180deg, #fffbf8, #ffeae5);
}

.section.join-the-community {
  position: relative;
  overflow: hidden;
  height: 1300px;
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fffbf8), to(#ffeae5));
  background-image: linear-gradient(0deg, #fffbf8, #ffeae5);
}

.section.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 1px solid #323654;
  background-color: #323654;
}

.section.footer-copyright-info {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #1a1e3d;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row.hero-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin-top: 120px;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.row.powered-by-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.row.blinded-oracle-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.row.non-custodial-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.row.how-it-works-wrapper {
  display: -ms-grid;
  display: grid;
  margin-top: 80px;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.row.faq-wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.row.footer-logo-wrapper {
  margin-bottom: 48px;
  padding-bottom: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.64);
}

.row.footer-links-wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.row.footer-copyright-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 100%;
  -ms-flex: 0 100%;
  flex: 0 100%;
}

.column.blinded-oracle-text-wrapper {
  padding-left: 140px;
}

.column.faq-heading-wrapper {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 468px;
  -ms-flex-preferred-size: 468px;
  flex-basis: 468px;
}

.column.faq-content-wrapper {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 852px;
  -ms-flex-preferred-size: 852px;
  flex-basis: 852px;
}

.column.join-the-community {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column.how-it-works {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.style-guide-title-block {
  margin-bottom: 24px;
  border-bottom: 1px solid #b0b1af;
}

.style-guide-overline {
  color: #878786;
  text-transform: uppercase;
}

.style-guide-typography-wrapper {
  margin-bottom: 48px;
}

.paragraph-small {
  font-size: 16px;
}

.paragraph-large {
  font-size: 20px;
}

.paragraph-large.how-it-works-content {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.style-guide-color-wrapper {
  margin-bottom: 48px;
}

.style-guide-color-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.style-guide-color-item {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
}

.bg-primary {
  background-color: #372b6b;
}

.bg-primary.color-tile {
  height: 132px;
}

.style-guide-color-item-info {
  padding: 12px;
}

.bg-primary-80 {
  background-color: #564680;
}

.bg-primary-80.color-tile {
  height: 132px;
}

.bg-primary-60 {
  background-color: #766796;
}

.bg-primary-60.color-tile {
  height: 132px;
}

.bg-primary-40 {
  background-color: #988db1;
}

.bg-primary-40.color-tile {
  height: 132px;
}

.bg-primary-20 {
  background-color: #c4bed0;
}

.bg-primary-20.color-tile {
  height: 132px;
}

.bg-secondary {
  background-color: #dc3768;
}

.bg-secondary.color-tile {
  height: 132px;
}

.bg-secondary-80 {
  background-color: #e2627e;
}

.bg-secondary-80.color-tile {
  height: 132px;
}

.bg-secondary-60 {
  background-color: #e88695;
}

.bg-secondary-60.color-tile {
  height: 132px;
}

.bg-secondary-40 {
  background-color: #efacb0;
}

.bg-secondary-40.color-tile {
  height: 132px;
}

.bg-secondary-20 {
  background-color: #f7d4d3;
}

.bg-secondary-20.color-tile {
  height: 132px;
}

.bg-black {
  background-color: #282a27;
}

.bg-black.color-tile {
  height: 132px;
}

.bg-black-80 {
  background-color: #5a5b59;
}

.bg-black-80.color-tile {
  height: 132px;
}

.bg-black-60 {
  background-color: #878786;
}

.bg-black-60.color-tile {
  height: 132px;
}

.bg-black-40 {
  background-color: #b0b1af;
}

.bg-black-40.color-tile {
  height: 132px;
}

.bg-black-20 {
  background-color: #d8d8d8;
}

.bg-black-20.color-tile {
  height: 132px;
}

.text-field {
  height: 56px;
  margin-bottom: 24px;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #efacb0;
  border-radius: 4px;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.text-field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #efacb0;
  outline-color: #efacb0;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

.text-field::-webkit-input-placeholder {
  color: #b0b1af;
}

.text-field:-ms-input-placeholder {
  color: #b0b1af;
}

.text-field::-ms-input-placeholder {
  color: #b0b1af;
}

.text-field::placeholder {
  color: #b0b1af;
}

.textarea {
  min-height: 168px;
  margin-bottom: 24px;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #efacb0;
  border-radius: 4px;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.textarea:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #efacb0;
  outline-color: #efacb0;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

.textarea::-webkit-input-placeholder {
  color: #b0b1af;
}

.textarea:-ms-input-placeholder {
  color: #b0b1af;
}

.textarea::-ms-input-placeholder {
  color: #b0b1af;
}

.textarea::placeholder {
  color: #b0b1af;
}

.select-field {
  height: 56px;
  margin-bottom: 24px;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #efacb0;
  border-radius: 4px;
  background-color: #fff;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

.select-field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #efacb0;
  outline-color: #efacb0;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 1px;
}

.checkbox-field {
  margin-bottom: 24px;
}

.checkbox {
  width: 28px;
  height: 28px;
  margin-top: 0px;
  margin-right: 12px;
  margin-bottom: 0px;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #efacb0;
  border-radius: 4px;
}

.checkbox.w--redirected-checked {
  width: 28px;
  height: 28px;
  margin-top: 0px;
  margin-right: 12px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #efacb0;
  border-radius: 4px;
  background-color: #efacb0;
  background-image: url('../../public/images/checked.svg');
  background-size: contain;
}

.checkbox.w--redirected-focus {
  box-shadow: none;
}

.style-guide-button-wrapper {
  margin-bottom: 48px;
}

.button-primary {
  padding: 24px 42px;
  border-radius: 96px;
  background-color: #372b6b;
  background-image: linear-gradient(140deg, #63159b 16%, #f49da4);
  -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
  color: #fff;
}

.button-primary:hover {
  box-shadow: 1px 1px 3px 0 rgba(40, 42, 39, 0.5);
  -webkit-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  text-decoration: none;
}

.button-primary.cta {
  position: relative;
  z-index: 1;
  margin-top: 100px;
}

.button-primary.small-screens {
  display: none;
}

.style-guide-button-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.style-guide-button-item-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-secondary {
  padding: 24px 42px;
  border-radius: 96px;
  background-color: #564680;
  -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
  color: #fff;
}

.button-secondary:hover {
  box-shadow: 1px 1px 3px 0 rgba(40, 42, 39, 0.5);
  -webkit-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  text-decoration: none;
}

.button-tertiary {
  padding: 24px 42px;
  border-radius: 96px;
  background-color: #e2627e;
  -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
  color: #fff;
}

.button-tertiary:hover {
  box-shadow: 1px 1px 3px 0 rgba(40, 42, 39, 0.5);
  -webkit-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  text-decoration: none;
}

.button-hollow-primary-text {
  padding: 21px 39px;
  border-radius: 96px;
  background-color: #fff;
  color: #564680;
}

.button-hollow-primary {
  padding: 3px;
  border-radius: 96px;
  background-image: linear-gradient(140deg, #63159b 16%, #f49da4);
  -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.button-hollow-primary:hover {
  box-shadow: 1px 1px 3px 0 rgba(40, 42, 39, 0.5);
  -webkit-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  text-decoration: none;
}

.button-hollow-secondary {
  padding: 21px 42px;
  border-style: solid;
  border-width: 3px;
  border-color: #564680;
  border-radius: 96px;
  background-color: #fff;
  -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
  color: #564680;
}

.button-hollow-secondary:hover {
  box-shadow: 1px 1px 3px 0 rgba(40, 42, 39, 0.5);
  -webkit-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  text-decoration: none;
}

.button-hollow-tertiary {
  padding: 21px 42px;
  border-style: solid;
  border-width: 3px;
  border-color: #e2627e;
  border-radius: 96px;
  background-color: #fff;
  -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
  color: #e2627e;
}

.button-hollow-tertiary:hover {
  box-shadow: 1px 1px 3px 0 rgba(40, 42, 39, 0.5);
  -webkit-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
  text-decoration: none;
}

.navbar {
  background-color: transparent;
}

.navbar-container {
  max-width: 100%;
}

.nav-link {
  padding-bottom: 19px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  font-family: 'Proxima Nova Regular', sans-serif;
  color: #6b1d9c;
  font-size: 24px;
  font-weight: 400;
}

.nav-link:hover {
  color: #e2627e;
  text-decoration: none;
}

.nav-link.navbar-button-space {
  margin-right: 60px;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-heading {
  margin-bottom: 40px;
  background-image: linear-gradient(135deg, #63159b, #ff80ab);
  font-size: 140px;
  line-height: 1;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subheading {
  font-family: 'Proxima Nova Regular', sans-serif;
  color: #2c024d;
  font-size: 32px;
  font-weight: 400;
}

.hero-image {
  position: absolute;
  right: -180px;
  height: 570px;
}

.section-heading {
  max-width: 660px;
  margin-bottom: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#63159b), to(#ff80ab));
  background-image: linear-gradient(90deg, #63159b, #ff80ab);
  font-size: 96px;
  line-height: 1;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-heading.text-center {
  text-align: center;
}

.powered-by-image {
  position: absolute;
  left: -166px;
  bottom: -220px;
}

.blinded-oracle-tree-image {
  position: absolute;
  left: 640px;
  bottom: -170px;
  max-height: 640px;
}

.blinded-oracle-cloud-1 {
  position: absolute;
  left: 600px;
  top: -190px;
}

.blinded-oracle-cloud-2 {
  position: absolute;
  left: -200px;
  bottom: 260px;
}

.non-custodial-image {
  position: absolute;
  left: -350px;
  bottom: -168px;
  max-height: 650px;
}

.section-heading-solid {
  max-width: 660px;
  color: #ffd1a5;
  font-size: 96px;
  line-height: 1;
}

.section-heading-solid.text-center {
  text-align: center;
}

.how-it-works-content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 100%;
  -ms-flex: 0 100%;
  flex: 0 100%;
}

.how-it-works-content-heading {
  margin-top: 40px;
  margin-bottom: 12px;
  color: #fff;
  font-size: 28px;
  text-align: center;
}

.how-it-works-cloud-1 {
  position: absolute;
  left: -140px;
}

.how-it-works-cloud-2 {
  position: absolute;
  top: -40px;
  right: -120px;
}

.faq-item {
  overflow: hidden;
  border-radius: 8px;
  background-image: linear-gradient(140deg, #63159b 37%, #f49da4);
}

.faq-question-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  padding-right: 32px;
  padding-left: 32px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.faq-answer-wrapper {
  position: static;
  display: block;
  padding: 32px;
  border-top: 1px solid #fff;
  background-color: transparent;
}

.accordion-icon {
  margin-right: 32px;
  color: #fff;
}

.faq-question-heading {
  max-width: 95%;
  margin-bottom: 0px;
  color: #fff;
  white-space: normal;
}

.faq-answer {
  margin-bottom: 0px;
  color: #fff;
}

.faq-answer.margin-bottom-12 {
  margin-bottom: 12px;
}

.text-bold-italic {
  font-family: ProximaNovaBold;
  font-style: italic;
  font-weight: 700;
}

.text-bold {
  font-family: ProximaNovaBold;
  font-weight: 700;
}

.text-white {
  color: #fff;
}

.text-white.no-margin {
  margin: 0px;
}

.cta-background {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: -140px;
  z-index: 0;
  width: 100vw;
  height: 1160px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../../public/images/illustration-5-2.svg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.social-icons-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-icon-link {
  margin-right: 12px;
  margin-left: 12px;
}

.footer-links-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-links {
  margin-right: 10px;
  color: #fff;
}

.how-it-works-image {
  width: 102px;
}

.brand-logo {
  height: 75px;
}

.footer-logo {
  height: 75px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 80px;
  }

  .section.hero {
    padding-top: 40px;
    padding-bottom: 100px;
  }

  .section.powered-by {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section.blinded-oracle {
    padding-top: 200px;
    padding-bottom: 100px;
  }

  .section.non-custodial {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section.how-it-works {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section.faq {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section.join-the-community {
    height: 1000px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .row.hero-wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .row.footer-logo-wrapper {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }

  .column.blinded-oracle-text-wrapper {
    padding-left: 24px;
  }

  .paragraph-large.how-it-works-content {
    font-size: 18px;
  }

  .button-primary {
    padding: 20px 36px;
  }

  .button-primary.small-screens {
    display: block;
    margin-right: 12px;
    padding: 12px 32px;
  }

  .button-primary.desktop-screens {
    display: none;
  }

  .button-secondary {
    padding: 20px 36px;
  }

  .button-tertiary {
    padding: 20px 36px;
  }

  .button-hollow-primary-text {
    padding: 17px 33px;
  }

  .button-hollow-secondary {
    padding: 17px 36px;
  }

  .button-hollow-tertiary {
    padding: 17px 36px;
  }

  .navbar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    text-align: center;
  }

  .nav-link.navbar-button-space {
    margin-right: 0px;
    border-bottom-style: none;
  }

  .brand {
    height: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  .hero-heading {
    margin-bottom: 24px;
    font-size: 100px;
  }

  .subheading {
    font-size: 24px;
  }

  .hero-image {
    left: 396px;
    right: auto;
    height: 404px;
  }

  .section-heading {
    margin-bottom: 24px;
    font-size: 56px;
  }

  .blinded-oracle-tree-image {
    left: 340px;
    right: auto;
    height: 400px;
  }

  .blinded-oracle-cloud-1 {
    left: 340px;
    top: -120px;
    height: 64px;
  }

  .blinded-oracle-cloud-2 {
    left: -220px;
    height: 56px;
  }

  .non-custodial-image {
    left: -370px;
    top: -75px;
    max-height: 500px;
  }

  .section-heading-solid {
    font-size: 56px;
  }

  .how-it-works-content-heading {
    font-size: 26px;
  }

  .how-it-works-cloud-1 {
    max-width: 32%;
  }

  .how-it-works-cloud-2 {
    max-width: 32%;
  }

  .faq-question-wrapper {
    padding-right: 24px;
    padding-left: 24px;
  }

  .faq-answer-wrapper {
    padding: 24px;
  }

  .accordion-icon {
    margin-right: 24px;
  }

  .faq-question-heading {
    font-size: 20px;
  }

  .cta-background {
    bottom: -120px;
    height: 100vw;
    background-position: 50% 100%;
  }

  .footer-social-icon-link.last-item {
    margin-right: 0px;
  }

  .navbar-icon {
    background-image: url('../../public/images/menu-1.svg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 32px;
  }

  .menu-button {
    padding: 12px;
    border-radius: 8px;
    background-color: transparent;
  }

  .menu-button.w--open {
    border-radius: 8px;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fffbf8), to(#ffeae5));
    background-image: linear-gradient(180deg, #fffbf8, #ffeae5);
  }

  .nav-menu {
    padding-bottom: 0px;
    border-radius: 8px;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fffbf8), to(#ffeae5));
    background-image: linear-gradient(180deg, #fffbf8, #ffeae5);
  }

  .how-it-works-image {
    width: 80px;
  }

  .brand-logo {
    height: 56px;
  }

  .footer-logo {
    height: 56px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 56px;
  }

  h3 {
    font-size: 44px;
  }

  p {
    font-size: 16px;
  }

  li {
    font-size: 16px;
  }

  .section.hero {
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .section.powered-by {
    padding-top: 60px;
    padding-bottom: 0px;
  }

  .section.blinded-oracle {
    height: 700px;
    padding-top: 120px;
    padding-bottom: 0px;
  }

  .section.non-custodial {
    padding-top: 60px;
    padding-bottom: 0px;
  }

  .section.how-it-works {
    margin-top: -5px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section.faq {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section.join-the-community {
    position: static;
    height: auto;
    padding-top: 60px;
    padding-bottom: 0px;
  }

  .section.footer {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .row.hero-wrapper {
    margin-top: 80px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .row.powered-by-wrapper {
    position: static;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .row.blinded-oracle-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .row.non-custodial-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .row.how-it-works-wrapper {
    margin-top: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .row.faq-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .row.footer-links-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .column {
    padding-right: 16px;
    padding-left: 16px;
  }

  .column.blinded-oracle-text-wrapper {
    padding-left: 16px;
  }

  .column.no-padding {
    padding-right: 0px;
    padding-left: 0px;
  }

  .paragraph-small {
    font-size: 15px;
  }

  .paragraph-large {
    font-size: 18px;
  }

  .style-guide-color-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .text-field {
    padding: 10px;
  }

  .textarea {
    padding: 10px;
  }

  .select-field {
    padding: 10px;
  }

  .button-primary {
    padding: 12px 32px;
    font-size: 16px;
  }

  .button-primary.cta {
    margin-top: 40px;
  }

  .button-primary.small-screens {
    margin-right: 8px;
    padding: 8px 20px;
  }

  .style-guide-button-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .button-secondary {
    padding: 12px 32px;
  }

  .button-tertiary {
    padding: 12px 32px;
  }

  .button-hollow-primary-text {
    padding: 11px 29px;
  }

  .button-hollow-secondary {
    padding: 11px 32px;
  }

  .button-hollow-tertiary {
    padding: 11px 32px;
  }

  .nav-link {
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Proxima Nova Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .brand {
    padding-left: 0px;
  }

  .hero-heading {
    font-size: 72px;
  }

  .subheading {
    font-size: 20px;
  }

  .hero-image {
    position: static;
    height: auto;
  }

  .section-heading {
    margin-bottom: 12px;
    font-size: 48px;
  }

  .powered-by-image {
    position: static;
    width: 100%;
    height: 360px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 0%;
    object-position: 50% 0%;
  }

  .blinded-oracle-tree-image {
    position: absolute;
    left: auto;
    top: 200px;
    right: auto;
    bottom: auto;
    height: auto;
  }

  .blinded-oracle-cloud-1 {
    position: absolute;
    left: 400px;
    top: -80px;
    height: 48px;
  }

  .blinded-oracle-cloud-2 {
    left: auto;
    top: 170px;
    bottom: auto;
    height: 40px;
  }

  .non-custodial-image {
    position: static;
    left: -160px;
    top: 200px;
  }

  .section-heading-solid {
    font-size: 48px;
  }

  .how-it-works-content-heading {
    margin-top: 20px;
    font-size: 24px;
  }

  .how-it-works-cloud-1 {
    left: -81px;
    bottom: -20px;
  }

  .how-it-works-cloud-2 {
    top: -36px;
    right: -100px;
  }

  .faq-question-wrapper {
    padding-right: 12px;
    padding-left: 12px;
  }

  .faq-answer-wrapper {
    padding-right: 12px;
    padding-left: 12px;
  }

  .accordion-icon {
    margin-right: 12px;
  }

  .cta-background {
    position: static;
    width: 100vw;
    height: 100vw;
    margin-bottom: -80px;
  }

  .social-icons-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-links-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .navbar-icon {
    font-size: 24px;
  }

  .menu-button {
    padding: 8px;
  }

  .brand-logo {
    height: 40px;
  }

  .footer-logo {
    height: 40px;
  }

  .block-quote {
    padding: 16px;
    font-size: 18px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section.blinded-oracle {
    height: 630px;
  }

  .column {
    padding-right: 10px;
    padding-left: 10px;
  }

  .column.blinded-oracle-text-wrapper {
    padding-left: 10px;
  }

  .style-guide-color-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .button-primary.small-screens {
    display: none;
  }

  .button-primary.desktop-screens {
    display: inline-block;
  }

  .nav-link.navbar-button-space {
    margin-bottom: 16px;
    border-bottom-style: solid;
  }

  .blinded-oracle-tree-image {
    top: 300px;
  }

  .blinded-oracle-cloud-1 {
    left: 180px;
  }

  .blinded-oracle-cloud-2 {
    top: 260px;
    height: 32px;
  }

  .non-custodial-image {
    left: -110px;
    top: auto;
  }

  .how-it-works-cloud-1 {
    left: -20px;
  }

  .how-it-works-cloud-2 {
    right: -40px;
  }

  .faq-question-heading {
    max-width: 92%;
    font-size: 16px;
  }

  .faq-answer {
    font-size: 16px;
  }

  .cta-background {
    margin-bottom: -50px;
  }

  .nav-menu {
    padding-bottom: 16px;
  }

  .brand-logo {
    height: 38px;
  }

  .footer-logo {
    height: 36px;
  }
}

#w-node-_90ff8114-fdd5-f6b2-9adc-c3e638d5f430-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e209158c-0d94-57d2-d187-395f5427cd9e-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_327ee06d-e798-d281-f174-e8b08befcd4e-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_819397a2-45aa-dfb6-ed3f-7c73eb0a4cc9-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_216093c3-b0c4-b244-ddd0-b6c76df4fd82-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_33cdf801-6c90-f499-088f-00d642ca1fbf-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3981a757-1fcc-e83e-266b-822fab62e8d5-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3981a757-1fcc-e83e-266b-822fab62e8d7-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_077768e7-4468-dcd2-8a5b-850602c8a14c-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_499a9817-9011-bf1e-9f2a-4ce9a2ff72e4-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_82bb9660-9f96-7ae8-3a21-b46e3d11d5a1-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c64315b9-ab89-1550-7546-1accf2bdcca3-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c64315b9-ab89-1550-7546-1accf2bdcca8-6f389a2f {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a3f7cc1d-1509-d861-d661-7432deab7b15-6f389a2f {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_4e74681b-1883-ba6d-2475-263fbcf4be38-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_98956186-86e6-d444-753b-920399fdddff-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4c9ce26f-654d-b6d7-3631-d57a2776f569-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ba4e60be-9373-f5be-f182-9ba0013c35e6-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-acb07d15-d089-54f2-2844-914096937a86-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_03546b80-ca53-41e1-faf8-8a33b5299b8d-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_03546b80-ca53-41e1-faf8-8a33b5299b94-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_03546b80-ca53-41e1-faf8-8a33b5299b9b-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_03546b80-ca53-41e1-faf8-8a33b5299ba2-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_03546b80-ca53-41e1-faf8-8a33b5299ba9-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bb4a4535-2e80-a752-6a0b-c8420d476576-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bb4a4535-2e80-a752-6a0b-c8420d47657d-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bb4a4535-2e80-a752-6a0b-c8420d476584-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bb4a4535-2e80-a752-6a0b-c8420d47658b-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bb4a4535-2e80-a752-6a0b-c8420d476592-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7b28c68e-9d9b-981e-f245-50d06b5c21a5-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_8a605653-fc3d-8068-0885-6e88826c624e-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_091217f1-8264-35b4-2fd8-92d9ad5bf6b0-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cdb6e964-3732-2c7c-2528-74ec7d672a9a-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_64df3f6a-5f45-8c23-e567-4d54fd8cc8b3-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f154b874-de9a-5795-deff-ceac11a4d28c-74389a30 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 767px) {
  #w-node-_327ee06d-e798-d281-f174-e8b08befcd4e-6f389a2f {
    -webkit-box-ordinal-group: 10000;
    -webkit-order: 9999;
    -ms-flex-order: 9999;
    order: 9999;
  }

  #w-node-_3981a757-1fcc-e83e-266b-822fab62e8d7-6f389a2f {
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }

  #w-node-a3f7cc1d-1509-d861-d661-7432deab7b15-6f389a2f {
    -ms-grid-column-align: auto;
    justify-self: auto;
  }
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../../public/fonts/ProximaNovaRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../../public/fonts/ProximaNovaBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Black';
  src: url('../../public/fonts/ProximaNovaBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
