@charset "utf-8";

@import "node_modules/bulma/sass/utilities/initial-variables";

// Import a Google Font
// @import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

// Update Bulma's global variables
$primary: #6b1d9c;

// Update some of Bulma's component variables
$box-radius: 0;
$box-shadow: none;
$button-hover-border-color: $primary;
$control-border-width: 2px;
$navbar-item-color: #20003c;

// Import the rest of Bulma
@import "node_modules/bulma/bulma";

// @import "./fuji-bitcoin-finance.webflow.css";

@import "./styles.scss";

